<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoyouly.baidunews"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.hoyouly.baidunews" >
    </instrumentation>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/StyledIndicators" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.hoyouly.baidunews.util.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hoyouly.baidunews.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.hoyouly.baidunews.HomeActivity" >
        </activity>
        <activity android:name="com.hoyouly.baidunews.NewsDetailActivity" >
        </activity>
        <activity android:name="com.hoyouly.baidunews.BrowserActivity" >
        </activity>
        <activity android:name="com.hoyouly.baidunews.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>